body {
    background: #ffffff;
    background: linear-gradient(2deg, rgba(255, 255, 255, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/* Button to pick one of the possible meals. */
#pickerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 400%;
    gap: 10px;
}

#pickOneButton {
    font-size: 100%;
    border: none;
    background: none !important;
    cursor: grab;

    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#result {
    line-height: 200%;
}

/* Container for ingredients and meals */
fieldset {
    margin-bottom: 10px;
}

/* Style meals */
#meals {
    list-style: none;

    /* Multi column layout. */
    column-count: auto;
    column-width: 20rem;

    li {
        padding: 5px;
        text-transform: capitalize;
        transition: all 200ms;
    }

    /* Styling only for when one or more ingredients are selected. */
    &.filtered li {
        &.matched {
            color: navy;
            font-size: 110%;
        }

        &:not(.matched) {
            padding: 0;
            font-size: 0;
        }
    }
}
