body {
    background: #ffffff;
    background: linear-gradient(2deg, rgba(255, 255, 255, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/* Container for ingredients and meals */
fieldset {
    margin-bottom: 10px;
}
